#calendarDiv {
	DISPLAY: none
}
#calendarEntry {
	VISIBILITY: hidden
}
.cal_month {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: lightblue; TEXT-ALIGN: center
}
.cal_hdr {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.cal_day {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: white; TEXT-ALIGN: right
}
.cal_day_sel {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: lightgreen; TEXT-ALIGN: right
}
.cal_day_cur {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: red; TEXT-ALIGN: right
}
.cal_day_outside {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: right
}
.cal_event_title {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: black 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: lightblue; TEXT-ALIGN: center
}
.cal_time {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: pink; TEXT-ALIGN: right
}
.cal_event {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 8px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: lightgreen; TEXT-ALIGN: right
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #d4d0c8; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #808080; SCROLLBAR-3DLIGHT-COLOR: #d4d0c8; SCROLLBAR-ARROW-COLOR: #000000; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #e1e1e1; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#header_01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 10px 0px; PADDING-TOP: 0px; HEIGHT: auto
}
.formlabel {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; VERTICAL-ALIGN: middle; COLOR: #000; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.inbox {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.inbox {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
SPAN.inbox {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #376177; PADDING-TOP: 10px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif
}
H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #376177; PADDING-TOP: 10px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif
}
P {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
IMG.ico-check {
	MARGIN: 2px 2px 2px -13px; VERTICAL-ALIGN: middle
}
#iconBar {
	BACKGROUND: url(../images/icons-bar-bg.jpg) repeat-x; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 41px; voice-family: inherit
}
UNKNOWN {
	HEIGHT: 41px
}
#iconBar .icon {
	BORDER-RIGHT: #c6d2df 2px dotted; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
#iconBar .iconR {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c6d2df 2px dotted; PADDING-TOP: 3px; POSITION: relative; HEIGHT: 35px
}
#iconBar A.icontitle {
	CLEAR: left; PADDING-RIGHT: 4px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: -1px; COLOR: #000; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#iconBar A.icontitle:hover {
	TEXT-DECORATION: underline
}
#iconBar A.icontitleGray {
	CLEAR: left; PADDING-RIGHT: 4px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: -1px; CURSOR: default; COLOR: #000; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#iconBar A.icontitleGray:hover {
	CURSOR: default; TEXT-DECORATION: none
}
#iconBar A.iconicon {
	
}
#iconBar A.iconicon:hover {
	
}
#iconBar A.iconiconGray {
	CURSOR: default
}
#iconBar A.iconiconGray:hover {
	CURSOR: default
}
#iconBar .textfield {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; MARGIN: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px solid; WIDTH: 80px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fff
}
#iconBar SELECT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; MARGIN: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px solid; WIDTH: 110px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fff
}
#gBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; POSITION: relative; HEIGHT: 33px; BACKGROUND-COLOR: #d4def0; voice-family: inherit
}
UNKNOWN {
	HEIGHT: 33px
}
#google {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px 0px; PADDING-TOP: 0px
}
.ltbe10 {
	FONT-SIZE: 7pt; COLOR: #325c94
}
.ltbe10 A {
	FONT-SIZE: 7pt; COLOR: #325c94; TEXT-DECORATION: underline
}
.ltbe10 A:hover {
	FONT-SIZE: 7pt; COLOR: #ff0000
}
.tf {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
#emptyTrash {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: 15%; COLOR: #325c94; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#diskUsageBg {
	BORDER-TOP: #fff 1px solid; BACKGROUND: url(../images/icons-bar-bg.jpg) repeat-x; HEIGHT: 40px; voice-family: inherit
}
UNKNOWN {
	HEIGHT: 40px
}
.folder-header {
	BORDER-TOP: #9cb2c7 1px solid; BACKGROUND: url(../images/headers-bar-bg.jpg) repeat-x; BORDER-BOTTOM: #9cb2c7 1px solid; HEIGHT: 19px
}
.folder-header H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 2px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.mailbox {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.whitesm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.whitesm:hover {
	COLOR: #ff0000
}
LI.mailfolders {
	BACKGROUND-POSITION: left 50%; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(../images/icon_folder_closed.gif); LIST-STYLE-IMAGE: none; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
LI.mailboxes {
	BACKGROUND-POSITION: left 50%; PADDING-LEFT: 17px; BACKGROUND-IMAGE: url(../images/arrow_right_green.gif); BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
LI.mailfolders A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
LI.mailboxes A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
LI.mailfolders A:hover {
	COLOR: #3399cc; TEXT-DECORATION: underline
}
LI.mailboxes A:hover {
	COLOR: #3399cc; TEXT-DECORATION: underline
}
LI.mailfolders .red {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000
}
#phishwarning {
	PADDING-LEFT: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#phish-header {
	BACKGROUND: url(/wm/images/warning-bg.gif) repeat-x; MARGIN-RIGHT: 10px
}
#phish-header .warning-msg {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: url(/wm/images/icon_warning.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; COLOR: #cc0000; LINE-HEIGHT: 25px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#phish-header IMG {
	FLOAT: left; MARGIN: 0px
}
DIV.menuBar {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #fff
}
DIV.menuBar A.menuButton {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #fff
}
DIV.menu {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #376299
}
DIV.menu A.menuItem {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #376299
}
DIV.menuBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BACKGROUND-COLOR: #669acc; TEXT-ALIGN: left
}
DIV.menuBar A.menuButton {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 100; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: default; COLOR: #fff; PADDING-TOP: 0px; POSITION: relative; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.menuBar A.menuButton:hover {
	TEXT-DECORATION: underline
}
DIV.menuBar A.menuButtonActive {
	COLOR: #ffffff; BACKGROUND-COLOR: #376299
}
DIV.menuBar A.menuButtonActive:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #376299
}
DIV.menu {
	BORDER-RIGHT: #376299 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #376299 1px solid; PADDING-LEFT: 0px; Z-INDEX: 101; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; BORDER-LEFT: #376299 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #376299 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #c8e0fb
}
DIV.menu A.menuItem {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 3px; CURSOR: default; COLOR: #376299; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.menu A.menuHide {
	PADDING-RIGHT: 1em; DISPLAY: none; PADDING-LEFT: 17px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; CURSOR: default; COLOR: #fff; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.menu A.menuGray {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 17px; FONT-WEIGHT: 300; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; CURSOR: default; COLOR: gray; PADDING-TOP: 3px; FONT-STYLE: italic; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.menu A.menuHide:hover {
	COLOR: #c0d3e2; BACKGROUND-COLOR: #376299
}
DIV.menu A.menuGray:hover {
	BACKGROUND-COLOR: #c8e0fb
}
DIV.menu A.menuItem:hover {
	COLOR: #fff; BACKGROUND-COLOR: #376299
}
DIV.menu A.menuItemHighLight {
	COLOR: #fff; BACKGROUND-COLOR: #376299
}
DIV.menu SPAN.menuItemText {
	
}
DIV.menu A.menuItem SPAN.menuItemArrow {
	MARGIN-RIGHT: -0.75em
}
DIV.menu SPAN.menuItemShortCut {
	PADDING-RIGHT: 5px
}
DIV.menu DIV.menuItemSep {
	BORDER-TOP: #909090 1px solid; MARGIN: 4px 2px; BORDER-BOTTOM: #f0f0f0 1px solid
}
#messagelistdivWrap {
	BORDER-RIGHT: #5b7d99 1px; BORDER-TOP: #5b7d99 1px inset; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px inset; POSITION: absolute; TOP: -600px; HEIGHT: 227px; BACKGROUND-COLOR: white
}
#messagelistdivWrap TD {
	FONT-WEIGHT: normal
}
#messagelistdiv {
	
}
#messageScrollBar {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; LEFT: 960px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 16px; BORDER-BOTTOM: 0px; POSITION: absolute; TOP: 243px; HEIGHT: 227px; BACKGROUND-COLOR: blue
}
#messageScrollBarUpAll {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
#messageScrollBarUpOne {
	LEFT: 0px; POSITION: absolute; TOP: 8px
}
#messageScrollBarSlider {
	LEFT: 0px; WIDTH: 16px; POSITION: absolute; TOP: 25px; HEIGHT: 177px; BACKGROUND-COLOR: #eeeeee
}
#messageScrollBarDownOne {
	LEFT: 0px; POSITION: absolute; TOP: 202px
}
#messageScrollBarDownAll {
	LEFT: 0px; POSITION: absolute; TOP: 219px
}
#messageScrollBarKnob {
	BORDER-TOP: #ffffff 1px solid; DISPLAY: block; Z-INDEX: 5000; BORDER-BOTTOM: #808080 1px solid; POSITION: absolute; TOP: 33px
}
.unloaded {
	BACKGROUND: url(../images/unloaded.gif); FONT-STYLE: italic; TEXT-ALIGN: center
}
#tblFromResize {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; Z-INDEX: 200; BORDER-LEFT: black 2px; WIDTH: 2px; CURSOR: e-resize; BORDER-BOTTOM: black 2px; HEIGHT: 140px
}
#tblSubjectResize {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; Z-INDEX: 200; BORDER-LEFT: black 2px; WIDTH: 2px; CURSOR: e-resize; BORDER-BOTTOM: black 2px; HEIGHT: 140px
}
#tblDateResize {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; Z-INDEX: 200; BORDER-LEFT: black 2px; WIDTH: 2px; CURSOR: e-resize; BORDER-BOTTOM: black 2px; HEIGHT: 140px
}
#tblFromResize {
	LEFT: 422px; POSITION: absolute; TOP: 200px
}
#tblSubjectResize {
	LEFT: 741px; POSITION: absolute; TOP: 200px
}
#tblDateResize {
	LEFT: 890px; POSITION: absolute; TOP: 200px
}
#copyright {
	LEFT: -1000px; POSITION: absolute; TOP: -1000px
}
#navigationWrap {
	BORDER-RIGHT: #9cb2c7 3px double; BORDER-TOP: #9cb2c7 1px solid; LEFT: 0px; OVERFLOW: auto; WIDTH: 145px; BORDER-BOTTOM: #9cb2c7 1px solid; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 143px; HEIGHT: 439px; BACKGROUND-COLOR: #eaf3f8
}
#navigationWrap UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#navigation {
	
}
#messageheaderdivWrap {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; Z-INDEX: 1; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 41px; BACKGROUND-COLOR: #d4def0
}
#messageheaderdiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/headers-bar-bg.jpg) repeat-x; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; voice-family: inherit
}
#readmessageWrap {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; LEFT: 0px; VERTICAL-ALIGN: top; OVERFLOW: auto; BORDER-LEFT: 1px solid; WIDTH: 809px; BORDER-BOTTOM: 1px solid; POSITION: absolute; TOP: -100px; HEIGHT: 50px; BACKGROUND-COLOR: white
}
#readrssWrap {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; LEFT: 0px; VERTICAL-ALIGN: top; OVERFLOW: auto; BORDER-LEFT: 1px solid; WIDTH: 809px; BORDER-BOTTOM: 1px solid; POSITION: absolute; TOP: -100px; HEIGHT: 50px; BACKGROUND-COLOR: white
}
#readrssWrap {
	OVERFLOW: auto
}
#folderManagerPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#mailboxManagerPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#optionManagerPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#addressBookPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#calendarPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#rssPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#messageCenterPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#rssEditPane {
	BORDER-RIGHT: #5b7d99 1px inset; BORDER-TOP: #9cb2c7 1px solid; LEFT: 147px; VERTICAL-ALIGN: top; OVERFLOW: hidden; BORDER-LEFT: #5b7d99 1px inset; WIDTH: 809px; BORDER-BOTTOM: #5b7d99 1px; POSITION: absolute; TOP: 143px; HEIGHT: 91px; BACKGROUND-COLOR: #d4def0
}
#rssPane {
	OVERFLOW: auto; BORDER-BOTTOM: #5b7d99 1px solid; BACKGROUND-COLOR: white
}
#rssRefreshPane {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: verdana,arial; TEXT-ALIGN: center
}
DIV.spacer {
	CLEAR: both
}
DIV.row {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.row SPAN.left {
	FLOAT: left; TEXT-ALIGN: left
}
DIV.row SPAN.right {
	FLOAT: right; TEXT-ALIGN: right
}
#folderTitle {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#filtertext {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#searchtext {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#backtoall {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#feedBack {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#whereAreWe {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
.folderhdr {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
#feedBack {
	FONT-SIZE: 9pt
}
A.folderhdr {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; TEXT-DECORATION: underline
}
A.folderhdr:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
#folderTitleWrap {
	BACKGROUND: url(../images/1A/bg_blue_bar.gif) repeat-x; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 22px
}
#textResize {
	MARGIN-LEFT: 45px; VERTICAL-ALIGN: top; HEIGHT: 24px
}
#readmessage {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#readrss {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#debugDiv {
	BORDER-RIGHT: black 2px inset; BORDER-TOP: black 2px inset; DISPLAY: none; LEFT: 750px; OVERFLOW: auto; BORDER-LEFT: black 2px inset; WIDTH: 250px; BORDER-BOTTOM: black 2px inset; POSITION: absolute; TOP: 250px; HEIGHT: 250px; BACKGROUND-COLOR: white
}
#fmLRWrap {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; LEFT: 145px; BORDER-LEFT: black 2px; WIDTH: 2px; BORDER-BOTTOM: black 2px; POSITION: absolute; TOP: 145px; HEIGHT: 325px
}
#fmLRMaskWrap {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; Z-INDEX: 1; LEFT: 145px; BORDER-LEFT: black 2px; WIDTH: 2px; CURSOR: e-resize; BORDER-BOTTOM: black 2px; POSITION: absolute; TOP: 145px; HEIGHT: 325px
}
#mpUDWrap {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; LEFT: 149px; BORDER-LEFT: black 2px; WIDTH: 827px; BORDER-BOTTOM: black 2px; POSITION: absolute; TOP: 390px; HEIGHT: 2px
}
#mpUDMaskWrap {
	BORDER-RIGHT: black 2px; BORDER-TOP: black 2px; Z-INDEX: 1; LEFT: 149px; BORDER-LEFT: black 2px; WIDTH: 827px; CURSOR: s-resize; BORDER-BOTTOM: black 2px; POSITION: absolute; TOP: 390px; HEIGHT: 2px
}
#control {
	BORDER-RIGHT: 2px inset; PADDING-RIGHT: 0px; BORDER-TOP: 2px; PADDING-LEFT: 0px; LEFT: -100px; PADDING-BOTTOM: 0px; BORDER-LEFT: 2px inset; WIDTH: 10px; PADDING-TOP: 0px; BORDER-BOTTOM: 2px inset; POSITION: absolute; TOP: -100px; HEIGHT: 1px
}
#logo {
	LEFT: -100px; WIDTH: 75px; POSITION: absolute; TOP: 0px
}
.diskGraph {
	BORDER-RIGHT: #e2e9f1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #487599 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #487599 1px solid; WIDTH: 110px; PADDING-TOP: 0px; BORDER-BOTTOM: #e2e9f1 1px solid; HEIGHT: 8px
}
#diskUsageMenu {
	PADDING-RIGHT: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 15px; PADDING-TOP: 0px
}
.diskUnused {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 6px; PADDING-TOP: 0px; HEIGHT: 6px; BACKGROUND-COLOR: white
}
.diskUsedOK {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 6px; PADDING-TOP: 0px; HEIGHT: 6px; BACKGROUND-COLOR: #66cc00
}
.diskUsedCAUTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 6px; PADDING-TOP: 0px; HEIGHT: 6px; BACKGROUND-COLOR: yellow
}
.diskUsedWARNING {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 6px; PADDING-TOP: 0px; HEIGHT: 6px; BACKGROUND-COLOR: red
}
.diskUsageText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; COLOR: #000; LINE-HEIGHT: 11pt; PADDING-TOP: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.myMailBoxes {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; Z-INDEX: 1000; LEFT: 300px; PADDING-BOTTOM: 5px; MARGIN-LEFT: auto; OVERFLOW: auto; BORDER-LEFT: black 1px solid; MARGIN-RIGHT: auto; PADDING-TOP: 5px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 100px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#secondary_navs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
#secondary_navs DIV.secondary_nav {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 90%; BACKGROUND-IMAGE: url(../images/1A/bg_secondary_nav.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 10px; PADDING-TOP: 0px; BORDER-BOTTOM: #eaf3f8 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #eaf3f8
}
DIV.secondary_nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 10px 6px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.secondary_nav LI {
	MARGIN: 0px 0px 3px
}
DIV.secondary_nav A {
	TEXT-DECORATION: none
}
DIV.secondary_nav H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 7px 3px 3px 7px; COLOR: #656565
}
#secondary_navs DIV.secondary_nav_home {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 90%; BACKGROUND-IMAGE: url(../images/1A/bg_secondary_nav.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #eaf3f8 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #eaf3f8
}
DIV.secondary_nav_home UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 10px 8px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.secondary_nav_home LI {
	MARGIN: 0px 0px 3px
}
#mailboxTitle {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; OVERFLOW: hidden; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
DIV.secondary_nav_home A {
	FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
DIV.secondary_nav_home A:hover {
	COLOR: #3399cc; TEXT-DECORATION: underline
}
DIV.secondary_nav_home H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 7px 3px 3px 8px; COLOR: #023f72
}
DIV.secondary_nav_home SELECT {
	MARGIN: 0px 3px 7px 7px; WIDTH: 114px
}
IMG.home_sec_nav_icon {
	MARGIN: 0px 4px 0px 0px; VERTICAL-ALIGN: top
}
LI.selectednavitem {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #064d83
}
LI.selectednavitem A {
	COLOR: white; FONT-STYLE: normal; TEXT-DECORATION: none
}
LI.selectednavitem A:hover {
	COLOR: white; TEXT-DECORATION: underline
}
.rsslistTitleLine {
	BACKGROUND-IMAGE: url(../images/bg_mod_header_right.gif); COLOR: white; BACKGROUND-REPEAT: repeat-x
}
.rsslistDefaultDisplayNone {
	DISPLAY: none; VISIBILITY: hidden
}
.rsslistDebug {
	DISPLAY: none; FONT-SIZE: xx-small; VISIBILITY: hidden
}
.rsslistInfo {
	COLOR: white; FONT-STYLE: italic; BACKGROUND-COLOR: black
}
.rsslistSubscriptionTitle {
	FONT-SIZE: 12pt; COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans serif
}
.rsslistSubscriptionTitleDiv {
	MARGIN-LEFT: 0.25in
}
.rsslistNodeTitle {
	FONT-SIZE: 10pt; COLOR: green; FONT-FAMILY: Arial, Helvetica, sans serif
}
.rsslistNodeTitleDiv {
	MARGIN-LEFT: 10px
}
.rsslistFeedTitle {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans serif; TEXT-DECORATION: none
}
.rsslistArticleTitleLine {
	CURSOR: pointer
}
.rsslistArticleTitleLineSelected {
	BACKGROUND: #ffffcf
}
.rsslistFeedTitle A:link {
	COLOR: red; TEXT-DECORATION: none
}
.rsslistFeedTitle A:visited {
	COLOR: blue; TEXT-DECORATION: none
}
.rsslistFeedTitle A:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
.rsslistFeedTitle A:active {
	COLOR: lime; TEXT-DECORATION: none
}
.rsslistFeedDescription {
	FONT-SIZE: 8pt; MARGIN-LEFT: 0.25in; COLOR: black; MARGIN-RIGHT: 0.25in; FONT-FAMILY: Arial, Helvetica, sans serif; BACKGROUND-COLOR: pink
}
.rsslistStrippedDescription {
	FONT-SIZE: 6pt; MARGIN-LEFT: 0.25in; COLOR: gray; MARGIN-RIGHT: 0.25in; FONT-FAMILY: Arial, Helvetica, sans serif; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: white
}
.rsslistDateTime {
	FONT-SIZE: 7pt; COLOR: green; FONT-FAMILY: Arial, Helvetica, sans serif; TEXT-ALIGN: right
}
.rsslistDateTimeSelected {
	FONT-SIZE: 7pt; BACKGROUND: #ffffcf; COLOR: green; FONT-FAMILY: Arial, Helvetica, sans serif; TEXT-ALIGN: right
}
.rsslist_ViewArea {
	BACKGROUND: #d4d3f0; FONT-FAMILY: Arial, Helvetica, sans serif
}
.rsslist_ViewTitle {
	FONT-SIZE: large; TEXT-DECORATION: none
}
.rsslist_ViewDescriptionArea {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rsslist_ViewArticleArea {
	
}
.rsslistBlack {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rsslistGray {
	FONT-SIZE: 11px; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rsslistGraySelected {
	FONT-SIZE: 11px; BACKGROUND: #ffffcf; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.toccOutput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: white
}
.toccOutput .toccMatchText {
	FONT-WEIGHT: bold
}
UNKNOWN {
	DISPLAY: block; BACKGROUND: white; WIDTH: 100%
}
.toccOutput .toccHighElement {
	BACKGROUND: url(../images/bg_footer.jpg); CURSOR: pointer; COLOR: black
}
UNKNOWN {
	FONT-WEIGHT: bold; COLOR: #0000ff; BACKGROUND-COLOR: white
}
.toccNotSeen {
	DISPLAY: none; VISIBILITY: hidden
}
BODY {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
#message-header-table {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
#message-header-table TH {
	BORDER-RIGHT: #9cb2c7 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BACKGROUND: url(../images/headers-bar-bg.jpg) repeat-x; BORDER-LEFT: #fff 1px solid; COLOR: #000000; BORDER-BOTTOM: #9cb2c7 1px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#message-table TH {
	BORDER-RIGHT: #9cb2c7 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BACKGROUND: url(../images/headers-bar-bg.jpg) repeat-x; BORDER-LEFT: #fff 1px solid; COLOR: #000000; BORDER-BOTTOM: #9cb2c7 1px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#message-header-table TH A:hover {
	TEXT-DECORATION: none
}
#message-header-table TH A.selected {
	FONT-WEIGHT: normal; COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#fillerFull {
	WIDTH: 100%
}
#mlCheck {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 20px; PADDING-TOP: 0px
}
#mlStatus {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 20px; PADDING-TOP: 0px
}
#mlAttach {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 20px; PADDING-TOP: 0px
}
#mlFrom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#mlSubject {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#mlDate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#mlSize {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#mlCheck2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 20px; PADDING-TOP: 0px
}
#mlStatus2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 20px; PADDING-TOP: 0px
}
#mlAttach2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 20px; PADDING-TOP: 0px
}
#message-header-table TD {
	BORDER-RIGHT: #9cb2c7 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-BOTTOM: #9cb2c7 1px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#message-table TD {
	BORDER-RIGHT: #9cb2c7 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-BOTTOM: #9cb2c7 1px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.mailboxlistouter {
	BORDER-RIGHT: #919a9a 1px solid; BORDER-TOP: #6f7777 1px solid; BORDER-LEFT: #919a9a 1px solid; BORDER-BOTTOM: #cbcbca 1px solid; BACKGROUND-COLOR: #fff
}
.mailboxlistinner {
	BORDER-RIGHT: #d5dddd 1px solid; BORDER-TOP: #c5cccc 1px solid; BORDER-LEFT: #d5dddd 1px solid; BORDER-BOTTOM: #eeeded 1px solid; HEIGHT: 315px; BACKGROUND-COLOR: #fff
}
.subitem {
	PADDING-LEFT: 2px
}
.subitemselect {
	PADDING-LEFT: 2px; FONT-WEIGHT: bold
}
.subitem {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
.subitem A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
.mailboxitem {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
.mailboxitem A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-STYLE: normal; TEXT-DECORATION: none
}
.subitemselect {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; TEXT-DECORATION: none
}
.subitemselect A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; TEXT-DECORATION: none
}
.mailboxitemselect {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; TEXT-DECORATION: none
}
.mailboxitemselect A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; TEXT-DECORATION: none
}
.subitem A:hover {
	COLOR: #3399cc; TEXT-DECORATION: none
}
.subitemselect A:hover {
	COLOR: #3399cc; TEXT-DECORATION: none
}
.mailboxitem A:hover {
	COLOR: #3399cc; TEXT-DECORATION: none
}
.mailboxitemselect A:hover {
	COLOR: #3399cc; TEXT-DECORATION: none
}
.mailboxicon {
	PADDING-LEFT: 2px; MARGIN-RIGHT: 4px; TEXT-ALIGN: left
}
.mailboxiconr {
	MARGIN-LEFT: 4px; TEXT-ALIGN: right
}
.divider {
	MARGIN: 2px 0px 4px; BACKGROUND-COLOR: #d5dddd
}
.listbody {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fff
}
.listunreadOn {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: black; BACKGROUND-COLOR: #ffffcc
}
.listreadOn {
	FONT-WEIGHT: normal; CURSOR: hand; COLOR: black; BACKGROUND-COLOR: #ffffcc
}
.listunread {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: black
}
.listread {
	FONT-WEIGHT: normal; CURSOR: hand; COLOR: black
}
.unloaded {
	BACKGROUND: url(../images/unloaded.gif); FONT-STYLE: italic; TEXT-ALIGN: center
}
.listcheck {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 20px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.listtext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; PADDING-TOP: 4px; WHITE-SPACE: nowrap
}
.notseen {
	DISPLAY: none; VISIBILITY: hidden
}
.visible {
	DISPLAY: block; VISIBILITY: visible
}
#modalIframe {
	Z-INDEX: 15000; FILTER: alpha(opacity=0); LEFT: 700px; WIDTH: 200px; POSITION: absolute; TOP: 100px; HEIGHT: 50px; BACKGROUND-COLOR: #ffffff; moz-opacity: 0.0; opacity: 0.0
}
.modalCover {
	FONT-SIZE: 22px; Z-INDEX: 10000; LEFT: 0px; BACKGROUND-IMAGE: url(../images/modal_overlay.gif); WIDTH: 100%; COLOR: green; POSITION: absolute; TOP: 0px; HEIGHT: 100%; xbackground-color: blue
}
.modalBox {
	BORDER-RIGHT: #339900 thin solid; PADDING-RIGHT: 0px; BORDER-TOP: #339900 thin solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; Z-INDEX: 20000; LEFT: 100px; BACKGROUND-IMAGE: url(../images/modal_overlay.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #339900 thin solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #339900 thin solid; POSITION: absolute; TOP: 100px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffcc; xwidth: 100px; xheight: 100px
}
.modalBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: black; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffcc
}
.modalHdr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; COLOR: #ffffff; PADDING-TOP: 10px; BACKGROUND-COLOR: #339900
}
.modalText {
	TEXT-ALIGN: center
}
.modalBottomText {
	TEXT-ALIGN: left
}
.modalYesButton {
	TEXT-ALIGN: center
}
.modalNoButton {
	TEXT-ALIGN: center
}
.blacktext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000
}
.blacktextbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000
}
.bk9 {
	FONT-SIZE: 9px; COLOR: #000000
}
A.bk9 {
	TEXT-DECORATION: none
}
A.bk9:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.be9u {
	FONT-SIZE: 9px; COLOR: #191970; TEXT-DECORATION: underline
}
A.be9u:hover {
	COLOR: #ff0000
}
.messageheadinner {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #c3d4da
}
.messageheadlinks {
	PADDING-LEFT: 5px; FONT-SIZE: 7pt; VERTICAL-ALIGN: text-top; COLOR: #325c94; TEXT-DECORATION: underline
}
.formtext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #14254b
}
.formtext P {
	MARGIN: 2px 0px 0px; COLOR: #14254b
}
