#message-header-table TH {
	FONT-SIZE: 7pt
}
#message-table TH {
	FONT-SIZE: 7pt
}
#message-header-table TD {
	FONT-SIZE: 8pt
}
#message-table TD {
	FONT-SIZE: 8pt
}
.subitem A {
	FONT-SIZE: 8pt
}
.mailboxitem A {
	FONT-SIZE: 8pt
}
.subitemselect A {
	FONT-SIZE: 8pt
}
.mailboxitemselect A {
	FONT-SIZE: 8pt
}
.listunread {
	FONT-SIZE: 11px
}
.listread {
	FONT-SIZE: 11px
}
.blacktext {
	FONT-SIZE: 10px
}
.blacktextbold {
	FONT-SIZE: 10px
}
.formtext {
	FONT-SIZE: 12px
}
#mailboxTitle {
	FONT-SIZE: 8pt
}
DIV.secondary_nav_home A {
	FONT-SIZE: 8pt
}
