<?xml version="1.0" encoding="utf-8"?>
<GlobalInfo Writer="C:\PROGRA~2\YOUTUB~1\YouTubeAcceleratorService.exe" Creator="C:\PROGRA~2\YOUTUB~1\YouTubeAcceleratorService.exe">
	<KEY name="HKEY_LOCAL_MACHINE">
		<KEY name="SOFTWARE">
			<KEY name="GOOBZO">
				<KEY name="YouTube Accelerator">
					<KEY name="Engine">
						<VALUE name="Mode" data="3"/>
						<VALUE name="HttpListenIP" data="0"/>
						<VALUE name="HttpListenPort" data="41120"/>
					</KEY>
					<VALUE name="ConfigXmlVer" data="20131113143800"/>
					<VALUE name="ShowAds" data="1"/>
					<KEY name="Stats">
						<VALUE name="CollectStats" data="1"/>
					</KEY>
					<VALUE name="LSPTestSucceeded" data="1"/>
					<VALUE name="TestingMode" data="0"/>
					<KEY name="Tracer">
						<VALUE name="TraceLevel" data="0"/>
						<VALUE name="TimeLimit" data="1"/>
					</KEY>
					<KEY name="RealDownloader">
						<VALUE name="PassThroughState" data="0"/>
					</KEY>
					<VALUE name="PassThroughState" data="0"/>
					<VALUE name="LspVersion" data="1.0.0.1"/>
				</KEY>
			</KEY>
		</KEY>
	</KEY>
	<KEY name="HKEY_CURRENT_USER">
		<KEY name="admin">
			<KEY name="SOFTWARE">
				<KEY name="GOOBZO">
					<KEY name="YouTube Accelerator">
						<VALUE name="ProductVersion" data="3.3.9.5"/>
						<VALUE name="RGS" data="1"/>
						<VALUE name="ServerRuleSendLogs" data="1"/>
						<VALUE name="BlackList" data="crss;svchost;ActSage.exe;cdasf.exe;wlidsvc.exe;wlcomm.exe;agent.exe;ASC.exe;sump.exe;Audials.exe;TeamViewer;"/>
						<VALUE name="IgnoreTwit" data="1"/>
						<VALUE name="ShowTrayMessage" data="0"/>
						<VALUE name="InstallTime" data="1399236708"/>
						<VALUE name="showitunesMsg" data="1"/>
						<VALUE name="ReportCommFailed" data="1"/>
						<VALUE name="ShowTrayIcon" data="0"/>
						<VALUE name="CommTestTime" data="0"/>
						<KEY name="Tracer">
							<VALUE name="TraceLevel" data="0"/>
							<VALUE name="TimeLimit" data="1"/>
						</KEY>
						<VALUE name="SendInstLspLog" data="1"/>
					</KEY>
				</KEY>
			</KEY>
		</KEY>
		<KEY name="SYSTEM">
			<KEY name="SOFTWARE">
				<KEY name="GOOBZO">
					<KEY name="YouTube Accelerator">
						<KEY name="Stats">
							<VALUE name="Stats1" data="0"/>
							<VALUE name="Stats2" data="0"/>
							<VALUE name="Stats3" data="0"/>
						</KEY>
					</KEY>
				</KEY>
			</KEY>
		</KEY>
	</KEY>
</GlobalInfo>
